*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: rgb(19,18,19);
 

    color: white;

}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
   
}
img{
    width: 100%;
    display: block;
    height:175px
}


.computer iframe{

    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: black;
    overflow:hidden;

}
canvas{
    touch-action: none;

}
.canvas-wrapper{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.item{
    min-height: 32rem;
    min-width: 21.25rem;
    padding:40px;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    pointer-events: none;

}
.carousel{
    cursor: grab;
    overflow: hidden;
    background: rgb(12, 12, 12);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.inner-carousel{
    display: flex;

}


