*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(47,45,46);
    background: radial-gradient(circle, rgba(47,45,46,1) 0%, rgba(0,0,0,1) 100%); 
}
article{
    letter-spacing: -0.003em;
    line-height: 30px;
}
article h1{
    font-size: 3rem;
}
hr{
    width: 50%;
    margin: 20px 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
header{

    z-index: 100;
    width: 100%;

    color: white;
    padding: 20px;
}
.hero-title{
    font-family: 'Oswald', sans-serif;
}
ul{
    display: flex;
    gap:10px;
    align-items: center;
}
.computer iframe{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: black;
    overflow:hidden
}

.section-wrapper{
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    color: white;


}












